<!-- Премиум партнёр -->
<div class="partner premium">
    <h3>🎖️ Премиум партнёр</h3>
    <p><strong>Die drei Königlichen</strong><br>
    Karl-Friedrich-Straße 29, Emmendingen</p>

    <p>
        Ресторан Die drei Königlichen — это просторное и уютное место, где мы сможем не только провести саммит, но и пообщаться вживую без толкотни и лишнего шума. Здесь всем будет комфортно — никто не будет «наступать на пятки».
    </p>

    <p>
        Особенно приятно, что обед пройдёт прямо здесь — в том же ресторане. Нам не придётся расходиться по городу, и каждый сможет выбрать блюда на свой вкус. Это значит, что у нас будет ещё два спокойных и ценных часа для общения и новых знакомств.
    </p>

    <p>
        <a href="https://www.instagram.com/reel/C4diHBBKBGF/?igsh=bWR2MndzMHNnY204" target="_blank">
            📍Посмотреть, как выглядит локация
        </a>
    </p>

    <p>
        <a href="https://www.instagram.com/diedreikoniglichen_emmendingen" target="_blank">
            🔗 Instagram: @diedreikoniglichen_emmendingen
        </a>
    </p>

    <video controls width="600">
        <source src="{{ url_for('static', filename='REX3.mp4') }}" type="video/mp4">
        Ваш браузер не поддерживает воспроизведение видео.
    </video>
</div>

